.columns-list-container {
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  overflow: auto;
}

header {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

main {
  .column-item {
    padding: 15px 20px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: #ebebeb;
    }
  }
}
