<div class="data-analytics-container flex-row" cdkDropListGroup>
    <div class="columns-list-container">
        <header>
            Columns
        </header>
        <ng-container *ngIf="!isLoading && !error; else loadingErrorTemp">
            <main cdkDropList [cdkDropListData]="columns" [cdkDropListConnectedTo]="[dimenElement, measElement]">
                <div class="column-item" *ngFor="let column of columns" cdkDrag>
                    {{ column.name }}
                </div>
            </main>
        </ng-container>
        <ng-template #loadingErrorTemp>
            <app-error *ngIf="error"></app-error>
        </ng-template>
    </div>

    <div class="right-section flex-column">
        <section class="droppable-section-container flex-row">
            <span class="title">
                Dimension
            </span>
            <div class="droppable-area" #dimenElement="cdkDropList" cdkDropList [cdkDropListData]="droppedDimensions"
                (cdkDropListDropped)="drop($event, 'dimension')">
                <span class="dropped-item" *ngFor="let droppedDimension of droppedDimensions">
                    {{ droppedDimension.name }}
                </span>
            </div>
            <button class="clear-btn" (click)="clearData('dimension')">
                Clear
            </button>
        </section>
        <section class="droppable-section-container flex-row">
            <span class="title">
                Measures
            </span>
            <div class="droppable-area" #measElement="cdkDropList" cdkDropList [cdkDropListData]="droppedMeasures"
                (cdkDropListDropped)="drop($event, 'measure')">
                <span class="dropped-item" *ngFor="let droppedMeasure of droppedMeasures">
                    {{ droppedMeasure.name }}
                </span>
            </div>
            <button class="clear-btn" (click)="clearData('measure')">
                Clear
            </button>
        </section>
        <div style="width: 100%;">
            <canvas id="myChart" width="1000" height="500" #mychart></canvas>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="ball-beat" [fullScreen]="true">
    <p style="color: #ffffff"> Loading... </p>
</ngx-spinner>